/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

/* Header */
header {
    height: 700px;
    width: 100%;
    background-image: url(./non.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 20px solid #ffffff;
}

.navigation {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.navigation .logo {
    font-size: 30px;
    font-weight: 600;
    color: #222;
}

.navigation .menu {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}

.menu li .btn {
    border: 2px solid #222;
    padding: 10px 15px;
    z-index: 1;
}

/* Nav End */

.content-header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-header h1 {
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #222;
}

.content-header p {
    font-size: 30px;
    opacity: .7;
    text-transform: uppercase;
    color: #222;
    padding-bottom: 30px;
}

.line {
    width: 70px;
    background: #222;
    height: 5px;
}

/* Header End */

#sect1 {
    width: 100%;
    height: auto;
    background: rgb(233, 233, 233);
}

#sect1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-artic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.title-artic h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.single-box {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    box-shadow: 0px 0px 7px 0px #222222;
}

.single-box:nth-child(2) {
    margin: 0px 10px;
}

.text-artic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.line2 {
    width: 40px;
    background: #222;
    height: 3px;
    opacity: .2;
    margin-bottom: 10px;
}

.text-artic p {
    font-size: 13px;
    width: 70%;
    overflow: hidden;
    opacity: .8;
}

.imge {
    width: 400px;
    height: 250px;
}

.imge img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}



/* END sec1 */

.sect2 {
    width: 100%;
    height: 600px;
}

.images1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images1 {
    height: 600px;
    width: 100%;
}

.covering {
    display: flex;
}

.text-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 15px;
}

.text-about p {
    width: 70%;
    padding-top: 50px;
    text-align: justify;
    color: #222;
    opacity: .8;
}


/* END */

.sect3 {
    width: 100%;
    height: 350px;
    background: rgb(206, 221, 255);
}

.title-subs {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-subs h1 {
    color: #222;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.title-subs p {
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: .7;
}

form input {
    border: none;
    width: 350px;
    padding: 15px 10px;
    color: #222;
    background: rgb(241, 241, 241);
}

.btn {
    margin-top: 20px;
    padding: 8px 30px;
    border: 1px solid #222;
}

.btn a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #222;
}

footer {
    width: 100%;
    padding: 0px 15px;
    height: 200px;
}

footer .container {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.menu-end {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.menu-end li {
    list-style: none;
}

.menu-end li a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}